.center_div {
   	position: absolute;
  		top: 10%;
 	  	left: 50%;
  		margin-top: 10px;
 		margin-left: -400px;
   	width: 1000px;
   	height: 400px;
}

.arrow_img {
	width: 20px; 
	height: 15px;
	text-align:center; 
	margin: 10px;

}
          
.word_input, .word_shown, .time_input, .blank_text{ 
	text-align:center; 
	width: 150px;
}

.warning { 
	text-align:center; 
	width: 780px;
	color: red;
}

.form-control {
	width: 300px;
}
